{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
  <link href="{% static 'css/custom-admin.css' %}" rel="stylesheet" />
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
 
</head>
<body style="
background-color: #f8f9fc;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100%;
background-size: cover;
">
  {% block content %}{% endblock content %}

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  {% block script %}{% endblock script %}


  
</body>
</html>