<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KNN</title>
</head>
<body>
    <h1>KNN Application</h1>
    <form action="result">
        Algoritma dan Dasar Pemrograman : <input type="text" name="Algoritma_dan_Pemrograman" required><br>
        Aljabar Linear dan Matriks : <input type="text" name="Aljabar_Linear_dan_Matriks" required><br>
        Grafika Komputer : <input type="text" name="Grafika_Komputer" required><br>
        Kalkulus : <input type="text" name="Kalkulus" required><br>
        Keamanan Info dan Jaringan Komputer : <input type="text" name="Keamanan_Info_dan_Jaringan_Komputer" required><br>
        Komputer Dat dan Jaringan Komputer : <input type="text" name="Kom_Data_dan_Jaringan_Komputer" required><br>
        Logika Informatika : <input type="text" name="Logika_Informatika" required><br>
        Manajemen Proyek : <input type="text" name="Manajemen_Proyek" required><br>
        Matematika Diskrit : <input type="text" name="Matematika_Diskrit" required><br>
        Metode Numerik : <input type="text" name="Metode_Numerik" required><br>
        Multimedia : <input type="text" name="Multimedia" required><br>
        Organisasi dan Arsitektur Komputer : <input type="text" name="Organisasi_dan_Arsitektur_Komp" required><br>
        Pemrograman Berorientasi Objek : <input type="text" name="Pemrograman_Berorientasi_Obyek" required><br>
        Pemrograman Lanjut : <input type="text" name="Pemrograman_Lanjut" required><br>
        Pengantar Kriptografi : <input type="text" name="Pengantar_Kriptografi" required><br>
        Praktek Pemrograman Berorientasi Objek : <input type="text" name="Prak_Pemrog_Berorient_Obyek" required><br>
        Praktek Sistem Basis Data : <input type="text" name="Prak_Sistem_Basis_Data" required><br>
        Praktek Algoritma dan Pemrograman : <input type="text" name="Prak_Algoritma_dan_Pemrograman" required><br>
        Praktikum Pemrograman Lanjut : <input type="text" name="Praktikum_Pemrograman_Lanjut" required><br>
        Praktikum Pemrograman Web : <input type="text" name="Praktikum_Pemrograman_Web" required><br>
        Praktikum Struktur Data : <input type="text" name="Praktikum_Struktur_Data" required><br>
        Rekayasa Perankat Lunak : <input type="text" name="Rekayasa_Perangkat_Lunak" required><br>
        Sistem Basis Data : <input type="text" name="Sistem_Basis_Data" required><br>
        Sistem Digital dan Gelombang : <input type="text" name="Sistem_Digital_dan_Gelombang" required><br>
        Sistem Informasi : <input type="text" name="Sistem_Informasi" required><br>
        Sistem Operasi : <input type="text" name="Sistem_Operasi" required><br>
        Statistika Probabilitas : <input type="text" name="Statistika_Probabilitas" required><br>
        Struktur Data : <input type="text" name="Struktur_Data" required><br>
        Teknik Perancangan Sistem : <input type="text" name="Teknik_Perancangan_Sistem" required><br>
        Teori Bahasa Automata and Komp : <input type="text" name="Teori_Bahasa_Automata_and_Komp" required><br>
        Testing and Implementation : <input type="text" name="Testing_and_Implementation" required><br>
        <br>
        <input type="submit" value="Submit">
</body>
</html>