{% extends 'dashboard/base.html' %} {% load static %} {% load crispy_forms_tags %} {% block title %} Peminatan {% endblock title %} {% block content %}

<div>
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Peminatan</h1>
    </div>

    <!-- Content Row -->

    <div class="row">
      <!-- Area Chart -->
      <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-custom-blue">Peminatan</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="d-flex justify-content-between">
                <form class="form-inline" action="" method="get">
                  
                  <div class="mb-3">
                    <a href="{% url 'tambah_peminatan' %}" class="btn-custom btn-custom-primary">
                      <i class="fas fa-plus"></i>
                      Tambah Data
                    </a>
                  </div>
                </form>
              </div>
            <div class="card-area">
              <div class="table-responsive">
                <table class="table table-striped table-bordered border-bottom">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">ID Peminatan</th>
                      <th scope="col">Peminatan</th>
                      <th scope="col">Edit</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for peminatan in peminatan_list %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>{{ peminatan.id_peminatan }}</td>
                        <td>{{ peminatan.peminatan }}</td>
                        <td>
                            <a href="{% url 'edit_peminatan' peminatan.id_peminatan %}" class="btn-custom btn-custom-primary">
                                Edit
                            </a>
                        </td>
                        <td>
                            <a href="#" onclick="confirmDelete({{ peminatan.id_peminatan }})" class="btn-custom btn-custom-danger">Delete</a>
                            <form id="delete-form-{{ peminatan.id_peminatan }}" action="{% url 'delete_peminatan' peminatan.id_peminatan %}" method="post">
                                  {% csrf_token %}
                                  <input type="hidden" name="id_peminatan" value="{{ peminatan.id_peminatan }}">
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr class="text-center">
                      <td colspan="5">There are no Record Found!</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

{% endblock content %}
<!-- Content Wrapper -->

{% block script %}
<script>
  {% for msg in messages %}
  Swal.fire({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      icon: '{{ msg.tags }}',
      title: '{{ msg }}',
  });
  {% endfor %}
</script>

<script>
  function confirmDelete(id_peminatan) {
    Swal.fire({
      title: "Hapus Data Peminatan?",
      text: "Data yang dihapus tidak bisa dipulihkan",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!",
    }).then((result) => {
      if (result.isConfirmed) {
        document.getElementById("delete-form-" + id_peminatan).submit();
      }
    });
  }
</script>
{% endblock script %} 
