{% extends 'dashboard/base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block title %} Rekomendasi csv 
{% endblock title %} 
{% block content %}

<div>
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Rekomendasi csv</h1>
    </div>

    <!-- Content Row -->

    <div class="row">
      <!-- Area Chart -->
      <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-custom-blue">Masukan Nilai Mata Kuliah</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="template-header">
              <p>Template csv klik <a href="https://docs.google.com/spreadsheets/d/15uIgVYpUVPxVr7C7hBASwbgnXa-HUKIAnTuaRz41wag/edit?usp=sharing" target="_blank">disini</a></p>
            </div>
            <div class="card-area">
                <form method="post" enctype="multipart/form-data">         
                {% csrf_token %}
                
                {{ form|crispy }}
              
                <input type="submit" value="Prediksi" class="btn-custom btn-custom-primary">
              </form>
              {% comment %} <canvas id="myAreaChart"></canvas> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

{% endblock content %}
<!-- Content Wrapper -->

{% block script %}
<script>
  {% for msg in messages %}
  Swal.fire({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      icon: '{{ msg.tags }}',
      title: '{{ msg }}',
      text: 'Welcome to Akademi Application'
  });
  {% endfor %}
</script>
{% endblock script %} {% comment %} <!DOCTYPE html>
<html>
  <head>
    <title>Machine Learning App - Predict</title>
  </head>
  <body>
    <h1>Masukkan Nilai Mata Kuliah</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" value="Prediksi" />
    </form>
  </body>
</html>
{% endcomment %}
